body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #333;
    height: 100vh;
}

.game-area {
    width: 700px;
    height: 500px;
    background-color: black;
    position: relative;
}

.ball {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.paddle {
    width: 5px;
    height: 100px;
    top: 100px;
    position: absolute;
    background-color: white;
}

.player-paddle {
    left: 0;
    margin-left: 10px;
}

.computer-paddle {
    right: 0;
    margin-right: 10px;
}

.net {
    width: 5px;
    height: 400px;
    background-color: white;
    margin-left: 345px;
    margin-top: 15px;
}

#scoreParent {
    display: flex;
    justify-content: space-around;
}

.playerScore, .computerScore {
    color: white;
    font-size: xx-large;
}